mixin radio(obj)
  - let baseClass = 'radio';
  label(class=`${baseClass}`)
    input(class=`${baseClass}__input` type='radio')&attributes(attributes)
    span(class=`${baseClass}__mark`)
    span(class=`${baseClass}__label`)=obj.label
      