mixin linkList(obj)
  -const baseClass = 'link-list'
  ul(class=`${baseClass}`)
    each item in obj.list
      li(class=`${baseClass}__item`)
        a(class=`${baseClass}__link` href=item.link)=item.name